.panel_title, .cke, .panel, .main{ 
	position: fixed; 
}
.panel { 
	top: 0;
	left: 0;
	height: 100%;
	width: var(--panel_open);
	margin: 0 0;
	padding: 0 0;
	border: none;
	outline: none;
	/* transition: 0.5s;  */
}
.main { 
	top: 0;
	left: 310px;
	margin-left: 310px;
	height: 100%;
	width: 50%;
	margin: 0 0;
	padding: 0 0;
	max-height: 100%;
	border: none;
	outline: none;
	/* transition: 0.5s;  */
}

.topmenu { 
	height: var(--height_tm);
}
.panel_title {
	height: calc(var(--height_tm) - 1px);
}
.tree{
	overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: scroll; /* Add the ability to scroll */
}

.tree::-webkit-scrollbar {display: none;}/* Hide scrollbar for Chrome, Safari and Opera */
.tree { /* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.panel_title{
	top: 0;
	left: 0;
	width: 310px;
	color: white;
	text-align: center;
	font-family: bold Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: var(--height_tm);  
	border-collapse: collapse;
	background-color: #00796B; 
	background-image: url('../picture/musketeer_epee1.svg');
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: right;

	text-shadow:   -1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
		1px 1px 0 #000,
		1px 1px 2px #141414,
		1px 1px 3px #141414,
		1px 1px 5px #141414,
		1px 1px 7px #141414,
		1px 1px 10px #141414,
		1px 1px 12px #141414,
		1px 1px 18px #141414;
}
.cke {
	/* transition: 0.5s;  */
	top: var(--height_tm);
	height: 100%;
}
.tree {
	margin-top: calc(var(--height_tm) - 1px);
	height: calc(100% - var(--height_tm));
	max-height: 100%;
	background-color: var(--color_bckg);
}
