:root {
	/* general  */
	--color_bckg: #333;
	--color_main: #00796B;
	--color_body: black;
	--panel_open: 310px;
	--panel_close: 0px;
	/* Top Menu */
	--color_green: #0D8148;
	--color_green_hover: #16A05D;
	--color_tm_txt_read: #47794A;
	--color_tm_bckg_read: #E8F2CC;
	--color_tm_txt_write: #EA0043;
	--color_tm_bckg_write: #F2CED8;
	--color_tm_write: #E4E346;
	--color_tm_txt_lvl_1: white;
	--color_tm_txt_lvl_2: black;
	--color_tm_bckg_lvl_1: #E6994C;
	--color_tm_bckg_lvl_2: #ffc183;
	/* --color_tm_bckg_lvlsub_hover: #E6994C; */
	--height_tm: 50px;
}

/* message_block - BEGIN - bottom and in the middle of the screen  */
	#message_block {
		visibility: hidden; /* Hidden by default. Visible on click */
		min-width: 250px; /* Set a default minimum width */
		margin-left: -125px; /* Divide value of min-width by 2 */
		background-color: #333; 
		color: #fff; /* White text color */
		text-align: center; /* Centered text */
		border-radius: 8px; /* Rounded borders */
		padding: 16px; /* Padding */
		position: fixed; /* Sit on top of the screen */
		z-index: 1; /* Add a z-index if needed */
		left: 50%; /* Center the snackbar */
		bottom: 30px; /* 30px from the bottom */
	}	
	.message_block.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
		animation: fadein 0.5s, fadeout 0.5s 3.5s;
	}
	  
	#message_block.success {background-color: #4CAF50;}
	#message_block.info {background-color: #2196F3;}
	#message_block.warning {background-color: #ff2600;}

	#message_block.show {
		/* animation-play-state: initial; */
		/* -webkit-animation: fadein 0s, fadeout 0s 0s;
		animation: fadein 0s, fadeout 0s 0s; */
		visibility: visible; 
		-webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
		animation: fadein 0.5s, fadeout 0.5s 3.5s;
	}

	@-webkit-keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}
	@keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}
	@-webkit-keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
	@keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
/* message_block - END   */
/* html { 
    height:100%;
} */
body {
	height:100%;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0 0 0 0;
	padding: 0;
	background-color:var(--color_bckg);
}
.main {
	display: grid; 
    grid-template-columns: 310px 1fr; 
    grid-template-rows: 50px calc(100vh - 50px); 
    gap: 0px 0px; 
    grid-template-areas: 
	"left_top right_top_menu"
	"left_tree right_cke"; 
	background-color:var(--color_bckg);
	/* background-color: #2196F3; */

}
.left_top { grid-area: left_top; 
    text-align: right;
}
.left_tree { grid-area: left_tree; 
	/* pointer-events:none; */
	/* vertical-align: top; */
    /* color:red; */
}
.right_top_menu { grid-area: right_top_menu; }
.right_cke { grid-area: right_cke; 
}
/* p {
    margin: 0 0;
    padding: 0;
} */
/* textarea { */
	/* margin-left: 0px; */
	/* margin-left: 410px; */
	/* padding: 12px 20px; */ 
	/* width: 600px;
	height: 2em;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 10px;
	resize: none;
} */
.contextual_menu{
    font:  16px Arial, Helvetica, sans-serif;
    float: none;
    background-color: var(--color_bckg);
    padding: 5px 20px 10px 20px;
    display: block;
	color: var(--color_tm_txt_lvl_1);
}
.contextual_menu:hover{
	cursor: pointer;
    background-color: var(--color_tm_bckg_lvl_1);
}
.contex_menu_img{
	height : 15px;
	width : 15px;
}
.hide_child{display: block;}
.hide_root{display: block;}
.hide_help{display: block;}
.context_menu{
    position: absolute;
    border: 2px solid #000000;
    /* margin-bottom: 12px; */
    background-color: var(--color_tm_bckg_lvlsub);
    border-style: solid;
    z-index: 10;
    display: none;
}
.panel_title{
	color: white;
	text-align: center;
	/* vertical-align:middle; */
	font:  18px bold Arial, Helvetica, sans-serif;

	/* line-height: var(--height_tm);   */
	line-height: 49px;  
	/* center vertical */

	/* transition: 0.5s;  */
	border-collapse: collapse;
	background-color: var(--color_main); 
	background-image: url('../picture/musketeer_epee1.svg');
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: right;

	text-shadow:   -1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
		1px 1px 0 #000,
		1px 1px 2px #141414,
		1px 1px 3px #141414,
		1px 1px 5px #141414,
		1px 1px 7px #141414,
		1px 1px 10px #141414,
		1px 1px 12px #141414,
		1px 1px 18px #141414;
}
