.tm_def{
	margin: 0 0;
	padding: 0 0;
	border-collapse: collapse;
	border-spacing:0;
	border: none;
	outline: none;
    font:  16px Arial, Helvetica, sans-serif;
    color: white;
	text-align: center;
	vertical-align:middle;
	cursor: pointer;
	overflow: hidden;
    text-decoration: none;
}
.tm{
	display: table;
    background-color:var(--color_bckg);
}
.tm_row {
	display: table-row;
}
.tm_cell {
	display: table-cell;
}
.tm_body {
	display: table-row-group;
}
.tm_dropdown{
    background-color:var(--color_bckg);
}
.tm_dropbtn {
    color: var(--color_tm_txt_lvl_1);
	padding: 15px 15px;
	background-color: inherit;
	position: relative;
	z-index: 10;
}
.tm_dropdown:hover {
	background-color: var(--color_tm_bckg_lvl_1);
}
.tm_dropdown:hover .tm_dropdown_content {	display: block; }

.tm_dropdown_content {
	display: none;
	background-color: var(--color_tm_bckg_lvl_2);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;
	z-index: 10;
}
.tm_dropdown_content a {
	color: var(--color_tm_txt_lvl_2);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.tm_dropdown_content a:hover {	background-color: var(--color_tm_bckg_lvl_1); }
.tm_panel_open{
	background-color: var(--color_main); 
}
.tm_img_size {
	height: 45px;
	width: 45px;
}
.tm_icon_size {
	height: 10px;
	width: 10px;
}
/* .tm_logo{ */
	/* background-color: var(--color_bckg); */
	/* background-color: blue; */
/* } */
/* .tm_logo:hover{ */
	/* background-color: var(--color_tm_bckg_lvl_1); */
	/* background-color: yellow; */
/* } */
.tm_mode_read {
	/* background-color: var(--color_bckg); */
	background-color: var(--color_tm_bckg_read);
    color: var(--color_tm_txt_read);
	/* border-color: red; */
	/* width: 120px; */

}
.tm_mode_write {
	background-color: var(--color_bckg);
	/* background-color: black; */
	/* background-color: cyan; */
    color: yellow;
    /* color: red; */
	/* border-color: white; */
	/* width: 120px; */

}
.tm_status {
	/* padding: 2px 0px; */
	/* margin-left: 3px; */
    /* margin-right: 3px; */
    cursor: default;
	width: 120px;
	border: 1px;
	border-style: solid;
}
.tm_bt_record{
    /* padding: 2px 0px; */
	width: 122px;

}
.tm_bt_record:enabled{
	/* background-color: var(--color_green); */
	background-color: orangered;
    font-weight: bold;
    /* color: yellow; */
    color: white;
    cursor: pointer;
}
.tm_bt_record:hover:enabled {
    background-color: var(--color_green_hover);
}
.tm_bt_record:disabled, .tm_bt_record[disabled]{
  background-color: var(--color_bckg);
  color: var(--color_bckg);
  /* cursor: not-allowed; */
}
.tm_area{
	margin-left: 10px;
    margin-right: 10px;
	width: 600px;
	height: 3em;
	font-size: 10px;
	resize: none;
}