.topmenu .bt_record {
	color: white;
	background-color: #16A05D;
	font: bold 16px Arial, Helvetica, sans-serif;
}

.topmenu .bt_record:hover {
	background-color: #0D8148;
}

.topmenu {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

.topmenu a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topmenu .garde {
	padding: 0 0 ;
	background-color: #00796B;
}

.topmenu a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: #E6994C; 
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}


